name: CI/CD landinfo-backend

on:
  push:
    branches: [ "deploy" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      # 1️ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️ Set up environment variables
      - name: Set up environment
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
        run: |
          echo "DATABASE_URL=$DATABASE_URL" >> $GITHUB_ENV
          echo "REDIS_URL=$REDIS_URL" >> $GITHUB_ENV
          echo "JWT_SECRET=$JWT_SECRET" >> $GITHUB_ENV


      # 3️ Build Docker image
      - name: Build Docker image
        run: |
          docker build \
            --build-arg DATABASE_URL=$DATABASE_URL \
            --build-arg NODE_ENV=production \
            -t landinfo-backend:latest .

      # 4️ Stop old container (if exists)
      - name: Stop old container
        run: |
          docker stop landinfo-backend || true
          docker rm landinfo-backend || true

      # 5️ Run new container
      - name: Run new container
        run: |
          docker run -d \
            --name landinfo-backend \
            -p 8080:8080 \
            --restart unless-stopped \
            -e DATABASE_URL=$DATABASE_URL \
            -e REDIS_URL=$REDIS_URL \
            -e JWT_SECRET=$JWT_SECRET \
            landinfo-backend:latest
    
      # 6️ Clean up unused Docker resources
      - name: Clean up Docker
        run: |
           docker system prune -f  

      # 7 add network 
      - name: Connect to network
        run: |
           docker network connect app-network landinfo-backend

